[alias]
	pushall = !git remote | xargs -L1 git push --all
[user]
	email = aliefprihantoro@gmail.com
	name = aliefprihantoro
	signingkey = /data/data/com.termux/files/home/.ssh/signkey.pub
[core]
	editor = nvim
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
